<h1 class='country-name'>{{name}}</h1>
<p><b>Capital:</b>{{capital}}</p>
<p><b>Population:</b> {{population}}</p>
<p><b>Languages:</b></p>
<ul>
  {{#each languages}}
    <li>{{languages}}</li>
  {{/each}}
</ul>
<div class='img'>
  <img src='{{flag}}' alt='Flag of {{name}}' />
</div>